# ---------- IDE ----------
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# ---------- Compiled / binaries ----------
Binaries/
Plugins/**/Binaries/

# ---------- Build output ----------
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# ---------- Unreal generated ----------
DerivedDataCache/
Intermediate/
Plugins/**/Intermediate/

# VERY IMPORTANT (your main issue)
Saved/
Saved/**

# ---------- Cooked / packaged ----------
Saved/Cooked/
Saved/StagedBuilds/

# ---------- OS junk ----------
.DS_Store
Thumbs.db

# ---------- Compiled files ----------
*.o
*.obj
*.dll
*.exe
*.so
*.dylib
*.lib
*.bin

# ---------- Ignore map build data ----------
*_BuiltData.uasset

# ---------- Keep source assets ----------
# (do NOT ignore Content/)